<launch>
	<machine name="telecomando" address="http://10.142.0.111:11311" user="ubuntu" />

	<node machine="telecomando" name="rosserial" pkg="rosserial_arduino" type="serial_node.py" output="screen"/>
	<node machine="telecomando" name="rqt" pkg="rqt_gui" type="rqt_gui" output="screen"/>

<!--	<node name="agevar" pkg="ReseQROS" type="agevar.py" output="screen"/>-->
	<node name="movementTest" pkg="ReseQROS" type="movementTest.py" output="screen"/>
	<node name="communication" pkg="ReseQROS" type="communication.py" output="screen"/>
	<node name="endeffector" pkg="ReseQROS" type="endeffector.py" output="screen"/>
	<include file="$(find realsense2_camera)/launch/rs_camera.launch" />
</launch>
