<launch>
	<machine name="telecomando" address="10.142.0.111" user="ubuntu" />

	<node machine="telecomando" name="rosserial" pkg="rosserial_arduino" type="serial_node.py" output="screen">
		<param name="port"              type="string"               value="/dev/ttyACM0"/>
		<param name="baud"              type="int"                  value="57600"/>
	</node>
	
	<node name="movementTest" pkg="ReseQROS" type="movementTest.py" output="screen"/>
	<node name="communication" pkg="ReseQROS" type="communication.py" output="screen"/>

</launch>
